<form class="info-edit">
  <h1>
    <input type="text" name="title" value="<%= prevTitle %>">
  </h1>

  <h3>
    <input type="text" name="description" value="<%= prevDesc %>">
  </h3>

  <input type="submit" class='submit btn btn-xs btn-success' value="Rename project">
  or <input type="submit" class='cancel btn btn-link' value="Cancel">
</form>
