<div class="container-fluid">
  <h1>
    All members for <%= project.escape('title') %> <br>
    <a href="#projects/<%= project.id %>" class='btn btn-default btn-xs'>
      Back to project
    </a>
  </h1>

  <div class="members-info row">
    <span class='col-md-2'><strong>Gravatar</strong></span>
    <span class='col-md-2'><strong>Username</strong></span>
    <span class='col-md-2'><strong>Email</strong></span>
    <span class='col-md-2'></span>
    <% if (project.get("is_admin")) { %>
      <span class='col-md-2'><strong>Admin?</strong></span>
      <span class='col-md-2'><strong>Remove user</strong></span>
    <% } %>
  </div>
  <hr>
  <section class='members-container row'>

  </section>
</div>

<section class='project-invites col-md-12'>
  <form class='new-invites-form'>
    <h4>Invite more people to your project</h4>
    <p>
      Type in some usernames or emails. Anybody you add will be able to view
      and make changes to this project, and invite other users.
    </p>

    <div class="search-bar">
      <input type="text" class='form-control typeahead'>
    </div>

    <div class="invitees"></div>

    <button class='submit-invitees btn btn-success btn-md'>Add new invitees</button>
  </form>
</section>
