<div class="container">
  <h1>All members of <%= project.escape('title') %></h1>
  <section class='members-container row'>

  </section>
</div>

<section class='project-invites col-md-12'>
  <form class='new-invites-form'>
    <h4>Invite more people to your project</h4>
    <p>
      Type in some usernames or emails. Anybody you add will be able to view
      and make changes to this project, and invite other users.
    </p>

    <div class="search-bar">
      <input type="text" class='form-control typeahead'>
    </div>

    <div class="invitees"></div>

    <button class='submit-invitees btn btn-success btn-md'>Add new invitees</button>
  </form>
</section>
