<header>
  <div class="project-info">
    <h1 class='project-title'><%= project.escape("title") %></h1>
    <h3 class='project-description'><%= project.escape("description") %></h3>
  </div>
</header>

<br>

<section class='overview'>
  N discussions | N tasks | N files | ???
</section>

<section class='discussions-index'>discussions placeholder...</section>

<section class='checklists-index'>
  checklists index
</section>

<section class='files-index'>
  files index
</section>

<footer class='footer'>
  footer
</footer>


<form class='new-invites-form'>
  <section class='form-group invitees'>
    <h4>Invite more people to your project</h4>
    <p>
      Type in some usernames or emails. Anybody you add will be able to view
      and make changes to this project, and invite other users.
    </p>

    <div class="invitee-field">
      <input type="text" name="invitees[]">
      <button class="remove-invitee">&times;</button>
    </div>
  </section>

  <input type="submit" value="Add new invitees">
</form>
