<h1><%= project.escape("title") %></h1>
<h3><%= project.escape("description") %></h3>

<br>

<section class='overview'>
  N discussions | N tasks | N files | ???
</section>

<section class='discussions-index'>discussions placeholder...</section>

<section class='checklists-index'>
  checklists index
</section>

<section class='files-index'>
  files index
</section>

<footer class='footer'>
  footer
</footer>
