<p class='text-muted footer-copyleft'>
  <i class='fa fa-copyright fa-flip-horizontal'></i>
  2015 New Republic Studios. All rites reversed.
</p>

<ul class='text-muted footer-links'>
  <li>
    About
  </li>

  <li>
    Careers
  </li>

  <li>
    Privacy
  </li>
</ul>
