<div class='jumbotron'>
  <h1>Stronghold</h1>
  <p>
    It's the root page! <small>wow</small> <br>

    <a href='<%= new_user_url %>' class='btn btn-primary' role='button'>
      Sign up
    </a>
    or
    <a href="<%= new_session_url %>" class='btn btn-default' role='button'>
      Log in
    </a>
  </p>
</div>
