<main class='signin'>
  <section>
    <div class="signup-text">
      <h1>Welcome back.</h1>
    </div>

    <hr>

    <div class="signin-form">
      <%= render "layouts/flash" %>
      <%= render "sessions/form" %>
    </div>
  </section>
</main>
