// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments:first-child {
  margin-top: 10px;
}

.comment {
  padding: 15px;

  img {
    float: left;
    margin-right: 10px;
  }

  .commenter {
    margin-top: 0px;
  }

  .timestamps {
    float: right;
    margin-top: 15px;
  }
}

// .new-comment {
//   float: left;
// }
