// Place all the styles related to the app's layout here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content {
  background-color: white;
  margin-bottom: 120px; // really 50px, but the footer has to be accounted for
  box-shadow: 0 0 6px rgba(0,0,0,0.3); // straight from Basecamp
  padding-bottom: 20px;
}

#sidebar {
  background-color: lightgreen;
  width: 150px;
  height: 100%;
  float: left;
}

.session-info img {
  position: relative;
  transform: translateY(10%);
  margin: 0 5px;
}

.nav.navbar-nav.navbar-right {
  margin-right: 0px;
  p {
    margin: -15px 0 0 54px;
    padding-top: 2px;
  }
}

#footer {
  position: absolute;
  box-sizing: border-box;
  border-top: 2px solid darkgray;
  background-color: beige;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  font-size: 14px;

  .footer-copyleft {
    display: block;
    float: left;
    height: 70px;
    line-height: 70px;
  }

  .footer-links {
    list-style-type: none;
    float: right;
    height: 70px;
    line-height: 70px;

    li {
      float: left;
      padding-left: 20px;
    }
  }
}

#footer > div.container > * {
  // insane hacky fix for Bootstrap li & p margins stretching out footer
  margin: -2px 0 0 0;
}
