// Place all the styles related to the api/projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projects-index {
  position: relative;
}

  .projects {
    .card {
      background-color: lightblue;
      border: 1px solid black;
      height: 350px;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 20px;
      box-shadow: 0 0 6px rgba(0,0,0,0.3); // straight from Basecamp
    }

    h3 { margin-top: 0; }

    .project-index-item {
    .members {
      position: absolute;
      bottom: 8%;
      .member-gravatar {
        height: 40px;
        width: 40px;
      }
    }
  }
}
