<form class="info-edit">
  <h4>
    <input type="text" name="title" value="<%= prevTitle %>"
           placeholder='Rename this checklist'>
  </h4>

  <h5>
    <input type="text" name="description" value="<%= prevDesc %>"
           placeholder='Add a description (optional)'>
  </h5>

  <input type="submit" class='submit btn btn-xs btn-success' value="Rename project">
  or <input type="submit" class='cancel btn btn-link' value="Cancel">
</form>
