<form class="checklist-form">
  <input type="text" name="title" placeholder="Name your checklist">
  <input type="text" name="description" placeholder="Add a description (optional)">

  <button type="submit" class='form-submit btn btn-success btn-sm' name="button">
    Create the checklist
  </button>
  or
  <button type="cancel" class='form-cancel btn btn-danger btn-link' name='button'>
    Cancel
  </button>
</form>
