<h1>All checklists for <%= project.escape("title") %></h1>

<button class='new-checklist' type="btn btn-primary btn-sm" type="button">
  New checklist
</button>

<section class='checklists row'>
  checklist subviews go here!
</section>
