<h4><%= checklist.escape("title") %></h4>
<h5><%= checklist.escape("description") %></h5>

<ul class='tasks'>
  task partials go here!
</ul>

<button type="button" class='new-task btn btn-link' data-id='<%= checklist.escape("id") %>'>
  Create a new task
</button>
