<h1>All checklists for <%= project.escape("title") %></h1>
<a href="#projects/<%= project.escape('id') %>">Back to project</a> <br>

<div class='checklist-create'>
  <button class="new-checklist" type="btn btn-primary btn-sm" type="button">
    New checklist
  </button>
</div>

<section class='checklists row'>
  checklist subviews go here!
</section>
