<% var submitBtnClass = actionType === 'create' ? 'new-comment-submit' : 'edit-comment-submit' %>
<div class="wysihtml5 form-content col-md-6"
     data-placeholder="Type in your comment here..."
     ><% if (comment.get('body')) { %><%= comment.get("body") %><% } %></div>

<button type="button" class='<%= submitBtnClass %> btn btn-primary'>
  Submit
</button>
or
<button type="cancel" class='comment-form-cancel btn btn-sm btn-link'>
  Cancel
</button>
