<main class='signup'>
  <section>
    <div class="signup-text">
      <h1>Edit your info</h1>
    </div>
    <hr>

    <%= render "layouts/flash" %>
    <div class="signup-form">
      <%= render "users/form", req_method: :patch %>
    </div>
  </section>
</main>
