<main class='signup'>
  <section>
    <%= render "layouts/flash" %>
    <div class="signup-text">
      <h1>Welcome to Stronghold.</h1>
      <p>
        Let's create your new account.
      </p>
    </div>
    <hr>
    <div class="signup-form">
      <%= render "users/form", req_method: :get %>
    </div>
  </section>
</main>
