<% var submitBtnClass = (viewType === "update" ? 'task-update' : 'new-task-submit')  %>

  <div class="form-group">
    <input type="checkbox" disabled>
    <input type="text" name="description" value='<%= task.escape("description") %>'
      placeholder="Add a new task">
  </div>

  <div class="form-group">
    Assign to:

    <div class="inner-addon left-addon">
        <i class="fa fa-search"></i>
      <input type="text" name="query" class='search'
             placeholder='Search for project members'>
    </div>

    <ul class='search-results'></ul>
    <ul class='assignments row'>
      <% task.assignedUsers().each(function (user) { %>
        <%= JST['tasks/assignee']({ user: user, task: task }) %>
      <% }) %>
    </ul>
  </div>

  <div class="form-group">
    Due on:
    <div class="inner-addon left-addon">
      <i class='fa fa-calendar'></i>
      <input type="text" name="deadline" class='datepicker' value='<%= task.escape('deadline') %>'>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class='<%= submitBtnClass %> btn btn-success btn-sm'
      name="button">
      Submit
    </button>
    or
    <button type="cancel" class='new-task-cancel btn btn-danger btn-link' name="button">
      cancel
    </button>
  </div>

<script type="text/javascript">
  $(function () {
    // options?
    $(".datepicker").datepicker({ minDate: 0 });
  });
</script>
