<form class="new-task-form">
  <input type="checkbox" disabled>
  <input type="text" name="description" placeholder="Add a new task">

  Assigned to:
  <br>
  Due on:
  <input type="text" name="deadline" class='datepicker'>

  <button type="submit" class='new-task-submit btn btn-success btn-sm' name="button">
    Add this task
  </button>
  or
  <button type="cancel" class='new-task-cancel btn btn-danger btn-link' name="button">
    cancel
  </button>
</form>


<script type="text/javascript">
  $(function () {
    $(".datepicker").datepicker();
  });
</script>
