  <div class="form-group">
    <input type="checkbox" disabled>
    <input type="text" name="description" value='<%= task.escape("description") %>'
      placeholder="Add a new task">
  </div>


  <div class="form-group">
    Assign to:
    <input type="text" name="query" class='search'
           placeholder='Search for project members'>

      <ul class='assignments'>
        <li>new assignments...</li>
      </ul>
    <br>

    Due on:
    <input type="text" name="deadline" class='datepicker'>
  </div>

  <div class="form-group">
    <button type="submit" class='new-task-submit btn btn-success btn-sm' name="button">
      Add this task
    </button>
    or
    <button type="cancel" class='new-task-cancel btn btn-danger btn-link' name="button">
      cancel
    </button>
  </div>

<script type="text/javascript">
  $(function () {
    // options?
    $(".datepicker").datepicker();
  });
</script>
