<% var submitBtnClass = actionType === 'create' ? 'new-discussion-submit' : 'edit-discussion-submit' %>

<h3>
  <input type="text" name="title" placeholder="Name your discussion">
</h3>

<div class="wysihtml5 form-content col-md-6"
     data-placeholder="Give it a description (optional)..."
     ><% if (discussion.get('body')) { %><%= discussion.get('body') %><% } %></div>

<button type="submit" class='<%= submitBtnClass %> btn btn-success btn-sm'>
  Create the discussion
</button>
or
<button type="cancel" class='discussion-cancel btn btn-link' name='button'>
  Cancel
</button>
