<h1>All discussions for <%= project.escape("title") %></h1>
<a href="#projects/<%= project.id %>">Back to project</a> <br>

<div class="discussion-create">
  <button class="new-discussion btn btn-primary btn-sm" type="button">
    New discussion
  </button>
</div>

<section class='discussions row'>
  discussion subviews go here!
</section>
