<h2><%= discussion.escape("title") %></h2>
<h3>
  <%= discussion.escape("body") %>
</h3>

<a href="#projects/<%= project.id %>/discussions">
    Back to discussions
</a>

<div class="container">
  <section class='comments row'></section>
</div>

<div class="comment-create">
  <button type="button" class='new-comment btn btn-primary'>
    Post a new comment
  </button>
</div>
