<div class="col-md-12 discussion-info">
</div>

<a href="#/projects/<%= project.id %>/discussions"
   onClick='history.back();return false;'
   class='btn btn-default btn-xs'>
  Back to previous page
</a>

<hr>

<h4><strong>Comments on this discussion</strong></h4>
<section class='comments row'></section>

<div class="comment-create">
  <button type="button" class='new-comment btn btn-primary'>
    Post a new comment
  </button>
</div>

<hr>

<button class='delete-discussion btn btn-danger btn-xs'>
  Delete this discussion
</button>
