<div class="col-md-12 discussion-info">
</div>

<a href="#projects/<%= project.id %>/discussions">
    Back to discussions
</a>

<section class='comments row'></section>

<div class="comment-create">
  <button type="button" class='new-comment btn btn-primary'>
    Post a new comment
  </button>
</div>
