<div class="col-md-12 discussion-info">
</div>

<a href="#projects/<%= project.id %>/discussions" class='btn btn-default'>
    Back to discussions
</a>
<button class='delete-discussion btn btn-danger'>Delete this discussion</button>

<section class='comments row'></section>

<div class="comment-create">
  <button type="button" class='new-comment btn btn-primary'>
    Post a new comment
  </button>
</div>
