/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/datepicker
 *= require bootstrap-wysihtml5
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'font-awesome-sprockets';
@import 'font-awesome';

#sidebar {
  background-color: lightgreen;
  width: 150px;
  height: 100%;
  float: left;
}

.session-info img {
  position: relative;
  transform: translateY(10%);
  margin: 0 5px;
}

.nav.navbar-nav.navbar-right {
  margin-right: 0px;
  p {
    margin: -15px 0 0 54px;
    padding-top: 2px;
  }
}

.projects-index {
  position: relative;
}

  .projects {
    .card {
      background-color: lightblue;
      border: 1px solid black;
      height: 350px;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 20px;
    }

    .project-index-item {
    .members {
      position: absolute;
      bottom: 8%;
      .member-gravatar {
        height: 40px;
        width: 40px;
      }
    }
  }
}

.checklist-index-item {
  .info {
    // width is otherwise 100%, due to these being col-12
    width: 20pc;
  }
}

.new-task-form {
  .inner-addon {
    // custom CSS to allow FA icons in input fields
    position: relative;
    .fa {
      position: absolute;
      padding: 5px;
      pointer-events: none;
    }
  }

  .search {
    min-width: 15pc;
  }
}

.left-addon .fa { left: 0px; }
.right-addon .fa { right: 0px; }
.left-addon input { padding-left: 30px; }
.right-addon input { padding-right: 30px; }

.task {
  position: relative;
  padding: 5px 0 5px 25px;
  list-style-type: none;

  .options-bar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -61px;

    border: 1px solid black;
    border-right: none;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    height: auto;
    width: 60px;
    padding-left: 5px;
  }
}

.task-desc.done {
  text-decoration: line-through;
}

.new-task-form {
  .assignee {
    background-color: tan;
    width: auto;
    margin: 0 5px;
    padding: 2px 5px;
  }

  .remove-assignee {
    float: none;
  }
}

.discussion {
  img {
    height: 30px;
    width: 30px;
  }

  a:hover {
    text-decoration: none;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .who {
    font-weight: bold;
  }

  .what {
    font-family: sans-serif;
  }
}

.comment-form {
  .form-content {
    min-height: 75px;
    background-color: beige;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-left: 5px;
    margin-right: 5px;
  }

  [contenteditable=true]:empty:not(:focus):before {
     content: attr(data-placeholder);
 }
}
