/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/datepicker
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'font-awesome-sprockets';
@import 'font-awesome';

#sidebar {
  background-color: lightgreen;
  width: 150px;
  height: 100%;
  float: left;
}

.session-info img {
  position: relative;
  transform: translateY(10%);
  margin: 0 5px;
}

.nav.navbar-nav.navbar-right {
  margin-right: 0px;
  p {
    margin: -15px 0 0 54px;
    padding-top: 2px;
  }
}

.projects-index {
  position: relative;

  .projects {
    background-color: lightblue;
    float: left;

    .project-index-item {
      height: 350px;
    }
  }
}

.checklist-index-item {
  .info {
    // width is otherwise 100%, due to these being col-12
    width: 20pc;
  }
}

.new-task-form {
  .inner-addon {
    // custom CSS to allow FA icons in input fields
    position: relative;
    .fa {
      position: absolute;
      padding: 5px;
      pointer-events: none;
    }
  }

  .search {
    min-width: 15pc;
  }
}

.left-addon .fa { left: 0px; }
.right-addon .fa { right: 0px; }
.left-addon input { padding-left: 30px; }
.right-addon input { padding-right: 30px; }

.tasks {
  .done {
    .task-desc { text-decoration: line-through; }
  }
}
