// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup {
  position: absolute;
  background-image: url('/bg/bg-lair-sketchy.jpg');
  background-position-x: 50%;
  background-color: lightsteelblue;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  section {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    margin: 0 auto;
    width: auto;
    background-color: rgba(180, 180, 180, 0.8);
    border: 1px solid black;
    padding: 20px;
  }

  .signup-cancel {
    float: right;
  }
}

.user-info {
  h1, h3 {
    position: relative;
  }

  img {
    transform: scale(1.25);
    float: left;
    border-radius: 50%;
    margin-right: 10px;
    padding: 15px;
  }
}
