<nav class="navbar navbar-default" id='navbar'>
  <div class='navbar-header'>
    <a href="/" class=''>
      <img src="<%= asset_path("owl.png") %>" alt="[+]" height='50' width='50' />
      <strong>Stronghold</strong>
    </a>
  </div>

  <ul class='nav navbar-nav navbar-left'>
    <li><a href="users/<%= current_user.id %>/projects">Projects</a></li>
    <li>
      <a href="#">Placeholder</a>
    </li>
    <li>
      <a href="#">Placeholder</a>
    </li>
    <li>
      <a href="#">Placeholder</a>
    </li>
    <li>
      <a href="#">Placeholder</a>
    </li>
  </ul>

  <ul class='nav navbar-nav navbar-right'>
    <li>
      <%= render "layouts/session_info" %>
    </li>
  </ul>
</nav>
